* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

img {
    height: 200px;
}

.card {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card__left > span {
    font-weight: 500;
}

.card__left > a {
    margin-top: 15px;
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.card__left > p {
    color: rgb(70);
}

